//COLORES
$primary: #FF7E36;
$secondary:#333A73;
$light:#FFF;
$dark:#000;
$softLight:#F6F6F6;
$teal:#018F8C;

//VARIABLE
$boxShadow:-10px 10px 5px rgb(217, 217, 217);

@font-face {
    font-family: Robo;
    src: url(../fonts/Roboto-Regular.ttf);
}


html{
    font-size: 62.5%;
}
body{
    font-family: "Robo";
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.method__container{
    position: relative;
    width: 100%;
    height: 100vh;
    .method__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5rem;
        .header__back{
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            background-color: $primary;
            display: flex;
            justify-content: center;
            align-items: center;
            .header__back_icon{
                font-size: 5rem;
                color: $light;
            }
        }
        .header__title{
            font-size: 6rem;
            font-weight: 900;
        }
    }
    .method__content{
        max-width: 950px !important;
        margin: 0 auto;
        padding: 0 10rem;
        .method__summary{
            margin-top: 4rem;
            .method__summary_content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: $softLight;
                padding: 3rem;
                border-radius: 2rem;
                box-shadow: $boxShadow;
                .summary__image{
                    width: 20%;
                    height: 25rem;
                    border-radius: 1rem;
                }
                .summary__info{
                    width: 70%;
                    height: 23rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .summary__price{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .info__item{
                            font-size: 3.5rem;
                            font-weight: 600;
                        }
                    }
                    .summary__line{
                        width: 100%;
                        height: .5rem;
                        background-color: #E2E3E7;
                    }
                    .summary__total{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .info__total{
                            font-size: 5.5rem;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .method__transaction{
            margin-top: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 5rem;
            .method__cash_topup{
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                background: $softLight;
                box-shadow: $boxShadow;
                border-radius: 2rem;
                padding:3rem 0;
                .method__cash_topup_headline{
                    padding:0 3rem;
                    font-size: 3rem;
                }
                .method__cash_topup_number{
                    padding:0 3rem;
                    font-size: 4rem;
                    font-weight: 600;
                }
            }
            .method__cash_enough{
                padding: 2rem 15rem;
                background: $primary;
                color: $light  ;
                font-size: 4rem;
                border-radius: 2rem;
                text-transform: uppercase;
                box-shadow: $boxShadow;
                margin-top: 5rem;
                text-decoration: none;
            }
            .method__cash_notice{
                font-size: 3rem;
                text-align: center;
                color: #D04848;
                font-weight: 600;
            }
            .method__cash{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5rem;
                .method__bank_notch{
                    width: 50rem;
                    height: 12rem;
                    background-color: $teal;
                    border-radius: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .bank__notch_mouth{
                        width: 30rem;
                        height: 2rem;
                        background-color: $light;
                        border-radius: 50rem;
                    }
                }
                .cash{
                    position: absolute;
                    transform: rotate(90deg);
                    animation: moneyMove 2s forwards infinite;
                    .cash__icon{
                        font-size: 20rem;
                        color: $primary;
                    }
                }
            }
            .method__bank{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;
                gap: 5rem;
                .method__desc{
                    font-size: 4rem;
                    text-align: center;
                }
                .method__banking{
                    width: 35rem;
                    height: 35rem;
                    // background-color: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: .5rem solid $primary;
                    border-radius: 2rem;
                    box-shadow: $boxShadow;
                    overflow: hidden;
                    .qr__banking{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .gtc__content{
                width: 100%;
                background-color: $softLight;
                box-shadow: $boxShadow;
                border-radius: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                .gtc__item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 2rem 0rem;
                    width: 90%;
                    .gtc__headline{
                        font-size: 3rem;
                    }
                    .gtc__coin{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        .gtc__coin_icon{
                            font-size: 4rem;
                            color: $primary;
                            font-weight: 900;
                        }
                        .gtc__coin_number{
                            font-size: 4rem;
                            font-weight: 600;
                            &.error{
                                color: #D04848;
                            }
                        }
                    }
                }
                .gtc__line{
                    width: 90%;
                    height: .2rem;
                    background-color: #E2E3E7;
                }
            }
            .gtc__enough{
                padding: 2rem 10rem;
                    background-color: $primary;
                    font-size: 5rem;
                    border-radius: 2rem;
                    box-shadow: $boxShadow;
                    color: $light;
                    font-weight: 600;
                    margin-top: 5rem;
                    text-transform: uppercase;
                    text-decoration: none;
            }
            .gtc__notenough{
                display: flex;
                flex-direction: column ;
                align-items: center;
                justify-content: center;
                gap: 4rem;
                .gtc__notenough_text{
                    text-align: center;
                    font-size: 3.5rem;
                    font-weight: 600;
                    color:#D04848 ;
                }
                .gtc__notenough_btn{
                    padding: 2rem 10rem;
                    background-color: $light;
                    font-size: 4rem;
                    border-radius: 2rem;
                    box-shadow: $boxShadow;
                    color: $primary;
                    text-decoration: none;
                    border: .5rem solid $primary;
                    font-weight: 600;
                }
            }
        }
    }
    .state{
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 3rem;
        left: 3rem;
        .state__item{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $dark;
            border: .5rem solid #cbcbcb;
            .state__icon{
                font-size: 3rem;
                color: $dark;
            }
            &.active{
                background-color: $secondary;    
                border: 1.3rem solid $secondary;
            .state__icon{
                font-size: 3rem;
                color: $light;
            }
            }
            &.done{
                background-color: $secondary;
                color: $light; 
                border: .5rem solid $secondary;

                .state__icon{
                    font-size: 3rem;
                    color: $light;
                }
            }
            &.error{
                background: #D04848;
                .state__icon{
                    font-size: 3rem;
                    color: $dark;
                }
            }
        }
        .state__line{
            width: 4rem;
            height: .3rem;
            background-color: #000;
        }
    }
    .method__waiting{
        position: absolute;
        bottom: 5rem;
        right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .method__waiting_text{
            font-size: 2rem;
            font-style: italic;
        }
        .count__down{
            font-size: 2rem;
            font-style: italic;
        }
    }
    .currency{
        color: $primary;
        font-weight: 600;
        margin-left: 1rem;
    }
}

@keyframes moneyMove {
    0%{
        bottom: -17rem;
    }
    50%{
        bottom: -13.5rem;
    }
    100%{
        bottom: -17rem;
    }
}